*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    min-height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.logoSpotify{
    width: 130px;
    height: 40px;
}
.buttonGroupHeader{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.navBtn{
    color: white;
    background-color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 100px;
    transition: 0,4s;
    padding: 10px;
    font-weight: bold;
}
.navBtn:hover{
    font-size: 17px;
    color: rgba(8, 248, 20, 0.993);
}
.nav{
    width: 100%;
    background-color: rgb(29, 117, 222);
    height: auto;
    display: flex;
    flex-direction: column;
}
.navContainer{
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 40px;
}
.h1Nav{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.buttonGroupNav{
    color: white;
    padding-top: 35px;
}
.paragraphNav{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
}
.paragraphNavBottom{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: white;
    display: flex;
    padding-top: 20px;
    padding-left:40px;
    padding-bottom: 20px;
}
.editParagraph{
    font-size: 11px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.buttonNav1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(24, 23, 23);
    color: white;
    border: 2px solid rgb(24, 23, 23);
    cursor: pointer;
    border-radius: 100px;
    padding: 15px 30px 15px 30px;
    align-items: center;
    font-weight: bold;
    transition: 0,4s;
}
.buttonNav2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 100px;
    align-items: center;
    padding: 15px 30px 15px 30px;
    font-weight: bold;
    transition: 0,4s;
}
.buttonNav1:hover{
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
}
.buttonNav2:hover{
    font-size: 15px;
    background-color: rgba(21, 72, 134, 0.288);
}
.section{
    width: 100%;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.sectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagensSectionContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.imagensSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 10px;
}
.paragraphSectionImages{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.paragraphSectionImagesMin{
    font-family: arial;
    font-size: 15px;
}
.imageSectionEditt{
    width: 140px;
    height: 140px;
}
.h1AndParagraphSection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.h1Section{
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 70px;
    padding-right: 20px;
}
.paragraphSection{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    font-size: 16px;
    flex-wrap: wrap;
}
.imagesCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.imagesCardContainer{
    padding: 20px;
    gap: 8px;
}
.cardImagesEdit{
    width: 30px;
}
.imgPremium{
    padding-top: 60px;
}
.p2{
    padding-top: 200px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid rgb(207, 207, 207);
    width: 260px;
    height: 80vh;
    padding: 15px;
    border-radius: 8px;
}
.cardParagraphBlue{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    width: 46%;
    height: 26px;
    padding: 4px 4px;
    border: 2px solid transparent;
    background-color: rgb(46, 119, 208);
    color: rgb(255, 255, 255);
    border-radius: 4px;
}
.cardParagraphStrong{
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
}
.cardParagraphNormal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 5px;
}
.cardParagraphBorder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(68, 67, 67, 0.644);
    width: 100%;
}
.cardButton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(24, 23, 23);
    color: white;
    border: 2px solid rgb(24, 23, 23);
    cursor: pointer;
    border-radius: 100px;
    width: 100%;
    height: 45px;
    align-items: center;
    font-weight: bold;
    transition: 0,4s;
}
.cardButton:hover{
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
}
.paragraphCardTerms{
    font-family: arial;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    color: rgb(129, 127, 127);
}
.editParagraphCard{
    font-size: 11px;
    color: rgba(112, 110, 110, 0.918);
    font-family: Arial, Helvetica, sans-serif;
}
.cardParagraphHeader{
    height: 20%;
}
.cardParagraphSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    height: 40%;
    padding-top: 10px;
}
.cardBottom{
    height: 30%;
}
.footer{
    display: flex;
    background-color: black;
    width: 100%;
    height: auto;
    padding-top: 30px;
    flex-direction: column;
    flex-wrap: wrap;
}
.footerContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.containerParagraphFooterContainer{
    display: flex;
    gap: 10px;
}
.paragraphFooterContainer{
    height: 30vh;
    padding-top: 20px;
}
.footerTitle{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: start;
    padding: 10px;
}
.footerLinkText{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-align: start;
    cursor: pointer;
    transition: 0,4s;
}
.footerIconsContainer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 20px;
}
.footerIcons{
    background-color: #222326;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 100%;
    width: 50px;
    min-height: 20px;
    padding: 15px;
}
.footerIconsEdit{
    width: 25px;
    min-height: 25px;
    background-color: #fff;
    cursor: pointer;
    transition: 0,4s;
}
.footerIconsEdit:hover{
    background-color: #1ed760;
}
.footerLinkText:hover{
    color: #1ed760;
}
.footerLastParagraphContainer{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 30px;
}
.FooterLastParagraph{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.FooterLastParagraph2{
    display: flex;
    flex-direction: column;
}
.lastParagraphEdit{
    color: #919496;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0,4;
}
.lastParagraphEdit2{
    color: #919496;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.lastParagraphEdit:hover{
    color: #1ed760;
}
@media (max-width: 1200px){
    .imagensSectionContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cardContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: auto;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 480px){
    .paragraphSection{
        font-size: 12px;
    }
}
@media (max-width: 350px){
    .paragraphSection{
        font-size: 10px;
    }
    .h1Section{
        font-size: 22px;
    }
}
@media (max-width: 430px){
    .imagensSectionContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cardContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        display: flex;
        flex-direction: column;
        width: 300px;
        height: auto;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 980px){
    .navContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex start;
    }
}
@media (max-width: 990px){
    .footerContainer{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 522px){
    .containerParagraphFooterContainer{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 552px){
    .imagensSectionContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .sectionContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
@media (max-width: 766px){
    .buttonGroupNav{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .buttonNav1{
        width: 95%;
    }
    .buttonNav2{
        width: 95%;
    }
}